body{
    font-family: "Roboto",sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #ee721b;
    padding: 0.3em
}

p, blockquote {
    padding: 0 0.3em 0 0.3em
}


.div {
    border: 6px solid #640100;
}

.header{
    background-color: #aa3b4b;
    border-bottom: 3px solid #640100;
    padding: 0.1em 1%;
}
#clock {
    color: #fafcfd;
    float: left;
}

header img {
    max-width: 300px; 
}

header h1 {
    margin-right: 80%;
}

#login_SignUp{
    margin-left: 85%
}


section{
    width: 60%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    background-color: #fafcfd;
}

aside{
    background-color: #aa3b4b;
    height: 41.7em
}

#leftAside{
    float: left;
    width: 20%;
    
}
#rightAside{
    float:right;
    width: 20%;
   
}
#rightAside img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 20%
}

.aside1{
    margin-right: 1em;
    margin-bottom: 60px;
}

.footer {
    background-color: #385d6c;
    clear: both;
    padding: 0.9375em 6%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fafcfd;
}

a:hover {
    color: #ee721b;
}

#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 25%
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
    padding: 0.625em 0;
	background-color: #385d6c;
    font-weight: bold;
	color: white;
}
#nav_menu ul li a.current {
	color: black;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: lightsteelblue;
}
#nav_menu ul li:hover ul {
	width: 100%;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 0.875em 1.25em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #385d6c;
  color: white;
  padding: 0.875em 1.25em;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 0.625em 1.125em;
  background-color: #aa3b4b;
}

.container {
  padding: 1em;
}

span.psw {
  float: right;
  padding-top: 16px;
}

form a {
    color: black;
}
#mobile_menu {
    display: none;
}

section img {
    width: 100%;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
    
    #nav_menu {
        display: none;
    }
    
    .slicknav_menu {
        background-color: #385d6c !important;
        padding: 3px !important;
    }

    #mobile_menu {
		display: block;
	}
    #mobile_menu ul {
        background-color: #385d6c;
    }
    #mobile_menu a {
        background-color: #385d6c;
    }
    #mobile_menu a:hover, #mobile_menu a:focus {
        color: lightsteelblue;
    }
    
    aside {
        display: none;
    }
    
    section {
        width: 100%;
    }
    
    #login_SignUp{
        margin-left: 10%;
    }